{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "arrowParens": "always",
  "semi": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
