:host {
  display: block;
}

footer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem clamp(1rem, 3vw, 2rem);
  background-color: var(--mat-sys-surface-container-low);
  border-top: 1px solid var(--mat-sys-outline-variant);
}

p {
  margin: 0;
  color: var(--mat-sys-on-surface-variant);
}

.footer-links {
  display: flex;
  gap: 0.25rem;
}

@media (width <= 48rem) {
  footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
